// "Gotham SSm A","Gotham SSm B",Arial,Helvetica,sans-serif

body {
  font-family: "Gotham SSm A", "Gotham SSm B", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: $blue;
  background: $white;
  padding: 2rem;
  text-align: center;
}

.intro {
  background: $lightblue;
  color: $white;
  padding: 0.5rem;
  border: 5px solid $gray;
  // border-radius: 5px;
}

.promo-code {
  border: 5px solid $gray;
  .promo-text {
    font-size: 1.5rem;
  }
}

img {
  height: 20%;
  width: 20%;
}

h5 {
  margin: 1rem;
}

.disclaimer-text {
  font-size: 0.5rem;
}
