body {
  background: #F7F39A;
  font-family: sans-serif;
  text-align: center;
}
.wrapper {
  border: 2px solid black;
  /*height: 30rem;*/
  background: #346473;
  display: block;
  padding: 1rem;
}

.inner {
  border: 2px solid black;
  margin: auto;
  width: 80%;
  height: 70%;
  background: #A3DE83;
  box-shadow: 10px 10px #38817A;
  display: block;

}
.chart-img {
  margin-top: 1rem;
  box-shadow: 10px 10px #38817A;
  display: inline-block;

}
img {
  border: 1px solid black;
}
